<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Aplicativo testing{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">

        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet">


        <style>

            .error {
                color: #e90f17;
                font-weight: 500;
            }

            nav {
                background-color: #464c6f;
            }

            .breadcrumb {
                margin-left: 20px;
            }

            .user-view {
                text-align: center;
            }

            .user-view a img {
                margin: auto;
            }

            @media screen and (min-width: 0px) and (max-width: 976px) {
                #menu {
                    display: block;
                }

                /* show it on small screens */
            }

            @media screen and (min-width: 976px) {
                #menu {
                    display: none;
                }

                /* hide it elsewhere */
            }

            .background {
                background-color: #5568d6;
            }

            #chart-container {
                overflow: auto;
            }

            #chart-container {
                position: relative;
                display: inline-block;
                top: 10px;
                left: 10px;
                height: 420px;
                width: calc(100% - 24px);
                border: 2px dashed #aaa;
                border-radius: 5px;
                overflow: auto;
                text-align: center;
            }

        </style>

        {#
          -----
          jqtre
          -----
      #}

        <link rel="stylesheet" href="{{ asset('bundles/app/css/jqtree/jqtree.css') }}"/>


        {#

    ----------------
    estilos OrgChart
    ----------------

#}

        <link rel="stylesheet" href="{{ asset('bundles/app/css/orgchart/jquery.orgchart.css') }}"/>


        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>


    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<ul id="slide-out" class="side-nav">
    <li>
        <div class="user-view">
            <div class="background"></div>

        </div>
    </li>

    <li>
        <div class="divider"></div>
    </li>

    <li><a href="/" class="subheader"><i class="material-icons">help_outline</i>Ayuda</a></li>
    {% if app.user %}
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}"><i class="material-icons">subdirectory_arrow_left</i>Salir</a>
        </li>
    {% endif %}
</ul>

<div>

    <nav class="indigo" role="navigation">
        <div class="nav-wrapper container">

            <ul class="right hide-on-med-and-down">
                <li><a href="#" data-activates="slide-out" class="collapse"><i class="material-icons">menu</i></a></li>
            </ul>

            <a id="menu" href="#" data-activates="slide-out" class="collapse"><i class="material-icons">menu</i></a>

        </div>
    </nav>

    <div class="" style="margin-left: 5%;margin-right: 5%">

        {% block body %}{% endblock %}

    </div>

</div>


{% block javascripts %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    {#

    {#

            ------
            jqtree
            ------

     #}

    <script src="{{ asset('bundles/app/js/jqtree/tree.jquery.js') }}"></script>


    {#

    --------
    OrgChart
    --------

    #}

    <script src="{{ asset('bundles/app/js/orgchart/jquery.orgchart.js') }}"></script>


    <script>
        jQuery.extend(jQuery.fn.pickadate.defaults, {
            monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthsShort: ['ene', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic'],
            weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            weekdaysShort: ['dom', 'lun', 'mar', 'mié', 'jue', 'vie', 'sáb'],
            today: 'Hoy',
            clear: 'Borrar',
            close: 'Cerrar',
            firstDay: 1,
            //format: 'dddd d !de mmmm !de yyyy',
            format: 'yyyy-mm-dd'
//            formatSubmit: 'yyyy/mm/dd',
//            hiddenSuffix: ''
        });
    </script>
    <script>
        $(function () {

            var datepicker = $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 20, // Creates a dropdown of 15 years to control year,
                today: 'Hoy',
                clear: 'Limpiar',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                min: new Date(1900, 01, 01)
            });

            $('.timepicker').pickatime({
                default: 'now', // Set default time: 'now', '1:30AM', '16:30'
                fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
                twelvehour: false, // Use AM/PM or 24-hour format
                donetext: 'OK', // text for done-button
                cleartext: 'Limpiar', // text for clear-button
                canceltext: 'Cancelar', // Text for cancel-button
                autoclose: false, // automatic close timepicker
                ampmclickable: true, // make AM PM clickable
                aftershow: function () {
                } //Function for after opening timepicker
            });

            $(".collapse").sideNav({
                draggable: false,
            });

            $("#datatable").DataTable({
                "lengthChange": false,
                language: {
                    "processing": "Procesando...",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "emptyTable": "Ningún dato disponible en esta tabla",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "infoPostFix": "",
                    "search": "Buscar:",
                    "url": "",
                    "infoThousands": ",",
                    "loadingRecords": "Cargando...",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ãšltimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });

            $('select').material_select();

        });
    </script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>

{% endblock %}


<style>

    nav ul a, nav .brand-logo {
        color: #ffffff !important;
    }

    .dropdown-content li > a, .dropdown-content li > span {

        color: #26a69a !important;
    }

    .material-icons {

        line-height: inherit !important;

    }

</style>
</body>
</html>
