{% extends 'base.html.twig' %}


{% block body %}

<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a class="breadcrumb">Inicio</a>
            <a class="breadcrumb">ABM</a>
            <a href="#!" class="breadcrumb">Productos</a>
        </div>
    </div>
</nav>

<div style="display: flow-root;">
    <h3 class="right-align" style="float: right;">
        <a href="{{ path('productos_new') }}"
        class="waves-effect waves-light btn teal darken-1">Crear producto</a>
    </h3>

    <h3 class="right-align" style="float: right;margin-right: 10px;">
        <a href="{{ path('productos_tree') }}"
        class="waves-effect waves-light btn teal darken-1">Ver estructura</a>
    </h3>
</div>

<table id="datatable" class="bordered striped highlight responsive-table centered">
    <thead>
    <tr>        <th>Id</th>        <th>Nombre</th>        <th>Price</th>        <th>Description</th>        <th> Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for producto in productos %}
    <tr>        <td>
            <a href="{{ path('productos_show', { 'id': producto.id }) }}">{{ producto.id }}</a>
        </td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.price }}</td>
        <td>{{ producto.description }}</td>        <td style="    min-width: 210px; text-align: center;">                        <a class="waves-effect waves-light btn" style="float: left;margin-right: 5px;"
               href="{{ path('productos_show', { 'id': producto.id }) }}">
            Ver </a>
                                    <a class="waves-effect waves-light btn blue darken-2" style="float: left;"
               href="{{ path('productos_edit', { 'id': producto.id }) }}">
            Editar </a>
                    </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
