{% extends 'base.html.twig' %}


{% block body %}

<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a class="breadcrumb">Inicio</a>
            <a class="breadcrumb">ABM</a>
            <a href="#!" class="breadcrumb">Libros</a>
        </div>
    </div>
</nav>

<table id="datatable" class="bordered striped highlight responsive-table centered">
    <thead>
    <tr>        <th>Id</th>        <th>Nombre</th>        <th> Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for libro in libros %}
    <tr>        <td>
            <a href="{{ path('libros_show', { 'id': libro.id }) }}">{{ libro.id }}</a>
        </td>
        <td>{{ libro.nombre }}</td>        <td style="    min-width: 210px; text-align: center;">                        <a class="waves-effect waves-light btn" style="float: left;margin-right: 5px;"
               href="{{ path('libros_show', { 'id': libro.id }) }}">
            Ver </a>
                                    <a class="waves-effect waves-light btn blue darken-2" style="float: left;"
               href="{{ path('libros_edit', { 'id': libro.id }) }}">
            Editar </a>
                    </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
