{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}

{{ "{% block body %}" }}

<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a class="breadcrumb">Inicio</a>
            <a class="breadcrumb">ABM</a>
            <a href="#!" class="breadcrumb">{{ entity_pluralized|capitalize }}</a>
        </div>
    </div>
</nav>

<table id="datatable" class="bordered striped highlight responsive-table centered">
    <thead>
    <tr>

        {%- for field, metadata in fields %}
        <th>{{ field|capitalize }}</th>
        {%- endfor %}
        <th> Acciones</th>
    </tr>
    </thead>
    <tbody>
    {{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}
    <tr>

        {%- for field, metadata in fields %}
        {%- if loop.first %}
        <td>
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</a>
        </td>

        {%- elseif metadata.type in ['datetime'] %}

        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

        {%- elseif metadata.type in ['date'] %}

        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

        {%- elseif metadata.type in ['time'] %}

        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

        {%- elseif metadata.type in ['array'] %}

        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

        {%- elseif metadata.type in ['boolean'] %}

        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

        {%- else %}

        <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

        {%- endif %}

        {%- if loop.last  and ('show' in actions) %}
        <td style="    min-width: 210px; text-align: center;">
            {%- for action in record_actions %}
            {% if action == "show" %}
            <a class="waves-effect waves-light btn" style="float: left;margin-right: 5px;"
               href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">
            Ver </a>
            {% elseif action == "edit" %}
            <a class="waves-effect waves-light btn blue darken-2" style="float: left;"
               href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">
            Editar </a>
            {% endif %}
            {%- endfor %}
        </td>

        {%- endif %}
        {%- endfor %}

    </tr>
    {{ '{% endfor %}' }}
    </tbody>
</table>


{{ "{% endblock %}" }}
{% endblock body %}